body{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/bedroom.gif");
    background-size: 100%;
    background-position: 25% 70%;
    overflow: hidden;
    color: #f7f7f7;
    font-family: 'Press Start 2P', cursive;
}
.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time{
    font-size: 64px;
}
h1{
    user-select: none;
}