body{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/bedroom.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #f7f7f7;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time{
    font-size: 64px;
}
h1{
    user-select: none;
}